/* 
Body text uses Arial font
 */
body {
  font-family: Arial;
}

/* 
 Creates a thin black outline around selected items
*/
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}